.container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  overflow: hidden;
  contain: layout style paint;
  z-index: 0;
  pointer-events: none;
}

.container canvas {
  display: block;
  width: 100%;
  height: 100%;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  pointer-events: none;
}
